/*
*/



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1;
  text-align: left;
  vertical-align: baseline;
}
a img { border: 0; }
:link img { border: 0; }
:visited img { border: 0; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul { list-style: none; }
q:before { content: ""; }
q:after { content: ""; }
blockquote:before { content: ""; }
blockquote:after { content: ""; }
body {
  background: #003366 url(gradient_bg.jpg) top center repeat-x scroll;
  margin: 30px auto 0 auto;
  width: 100%;
  color: #ffffcc;
  font-size: 15px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  text-shadow: #001144 0 1px 0;
}
@font-face {
  font-family: "Century Gothic";
  src: url(/CenturyGothic.ttf);
}
::selection {
  background: #cccccc;
  color: #ffffff;
}
::-moz-selection {
  background: #ffffcc;
  color: #212121;
}
a { -webkit-transition: all 0.1s ease-in; }
a:link {
  background: none;
  color: #ffffcc;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}
a:visited {
  background: none;
  color: #ffffcc;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}
a:hover {
  background: #ffffcc;
  color: #212121;
  text-decoration: none;
  text-shadow: none;
  padding: 3px 6px;
  margin: -3px -6px;
  z-index: 5;
}
a:active {
  background: #ffffcc;
  color: #212121;
  text-decoration: none;
  text-shadow: none;
  padding: 3px 6px;
  margin: -3px -6px;
  z-index: 5;
}
h1, h2, h3, h4, h5, h6 { font-family: "Century Gothic", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
h1 {
  margin: 30px 0 10px 0;
  color: #dddddd;
  font-size: 46px;
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  margin: 30px 0 10px 0;
  color: #999999;
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  margin: 45px 0 15px 0;
  color: #ffffcc;
  font-size: 20px;
  font-weight: 200;
  text-transform: capitalize;
  text-shadow: "0px 2px 1px #222";
}
h4 {
  margin: 35px 0 5px 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  text-shadow: "0px 2px 1px #222";
}
h3 a { text-decoration: none !important; }
a img {
  border: none;
  outline: none;
  background: none;
}
.no_effect { background: none !important; }
p {
  margin: 0 0 20px 0;
  font-size: 15px;
  font-weight: 100;
  font-family: "Lucida sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 20px;
  letter-spacing: 1px;
}
small {
  line-height: 10px !important;
  font-style: italic;
}
q { color: #ffffcc; }
sup {
  position: relative;
  top: -10px;
  font-size: 11px;
  font-weight: italic;
}
blockquote {
  margin: 5px 30px;
  line-height: 17px;
  color: #777777;
  font-weight: bold;
}
hr {
  border: none !important;
  margin: 0 0 20px 0;
  width: 100%;
  height: 18px;
  clear: both;
}
hr .visible {
  border: none !important;
  height: 10px;
  width: 100%;
  margin: 5px 0;
  padding: 0;
}
hr .visible .large { background: 0px transparent url(large_divider.png); }
hr .visible .small { background: 0px transparent url(mini_divider.png); }
hr .visible .fatty { margin: 40px 0 !important; }
ul { list-style-type: disc; }
li { margin: 8px 0 8px 35px; }
.clearer {
  height: 0;
  padding: 0;
  margin: 0;
}
.floatleft {
  position: relative;
  float: left;
  margin: 0 15px 15px 0;
}
.floatright {
  position: relative;
  float: right;
  margin: 0 0 10px 30px;
}
.rtt {
  position: relative;
  text-align: right;
  clear: both;
}
.vcard { display: none; }
.grid {
  position: relative;
  list-style: none;
  margin: 50px 0 50px 0;
}
.grid li {
  float: left;
  margin: 0 0 25px 50px;
}
.grid li a {
  margin: 0;
  padding: 0;
}
.imgborder { border: 7px solid #ffffff; }
.shadow {
  position: absolute;
  bottom: -34px;
  left: 0;
}
.img_frame {
  padding: 4px 0 7px 0;
  background: url(img_frame_shadow_full.png) no-repeat center bottom;
}
.img_frame img {
  display: block;
  padding: 6px;
  background: #ffffff;
}
.img_frame a:hover img { border-color: #ffffff; }
.img_frame .frame_small { background-image: url(img_frame_shadow_220w.png); }
.img_frame .frame_medium { background-image: url(img_frame_shadow_300w.png); }
.icon_zoom { background: none !important; }
#wrapper {
  margin: 0 auto;
  width: 900px;
  background: transparent;
}
#wrapper #header {
  position: relative;
  width: inherit;
  height: 46px;
}
#wrapper #header h1 {
  background: url(titles/h1_title.png) no-repeat;
  text-indent: -9999px;
}
#wrapper #header #navigation {
  position: absolute;
  top: 5px;
  right: 0;
  list-style: none;
  height: 20px;
  color: #ffffcc;
  margin-right: -18px;
}
#wrapper #header #navigation li {
  position: relative;
  float: left;
  padding: 0;
  margin: 0 15px 0 0;
}
#wrapper #header #navigation li a { -webkit-transition:none; }
#wrapper #header #navigation li a:link {
  background: none;
  color: #ffffcc;
  text-decoration: none;
  padding: 4px 0;
  margin: 0 4px;
}
#wrapper #header #navigation li a:visited {
  background: none;
  color: #ffffcc;
  text-decoration: none;
  padding: 4px 0;
  margin: 0 4px;
}
#wrapper #header #navigation li a:hover {
  background: #ffffcc;
  color: #212121;
  text-decoration: none;
  padding: 4px;
  margin: 0;
}
#wrapper #header #navigation li a:active {
  background: #ffffcc;
  color: #212121;
  text-decoration: none;
  padding: 4px;
  margin: 0;
}
#wrapper #wrapper #content {
  width: inherit;
  min-height: 285px;
}
#wrapper p.headline {
  font-family: "Century Gothic", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 27px;
  font-weight: 100;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 45px;
  padding: 50px 0;
}
#wrapper p.headline a {
  text-decoration: none;
  background: none;
  color: #ffffcc;
}
#wrapper p.headline a:link {
  border: none;
  padding: 2px 0;
  margin: 0 6px;
}
#wrapper p.headline a:visited {
  border: none;
  padding: 2px 0;
  margin: 0 6px;
}
#wrapper p.headline a:hover {
  border-bottom: 2px solid #ffffcc;
  padding: 2px 0;
  margin: 0 6px;
}
#wrapper p.headline a:active {
  border-bottom: 2px solid #ffffcc;
  padding: 2px 0;
  margin: 0 6px;
}
#wrapper #slideshow {
  position: relative;
  width: 888px;
  height: 168px;
  overflow: hidden;
  background: #000000;
}
#wrapper #slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  opacity: 0;
}
#wrapper #slideshow .active {
  z-index: 10;
  opacity: 1;
}
#wrapper #slideshow .last-active { z-index: 9; }
#wrapper #slideshow_shadow {
  position: relative;
  margin: -34px;
  top: -10px;
}
#wrapper #about {
  position: relative;
  width: inherit;
  margin: 0;
  padding: 0;
  z-index: 1;
}
#wrapper #col_wrapper { padding-top: 45px; }
#wrapper #col_wrapper #about_me {
  width: 560px;
  float: left;
}
#wrapper #col_wrapper #about_me h2 {
  background: url(titles/h2_about_me.png) no-repeat;
  text-indent: -9999px;
}
#wrapper #col_wrapper #about_me hr { background: url(medium_divider.png) no-repeat; }
#wrapper #col_wrapper #recent_work {
  width: 230px;
  float: right;
}
#wrapper #col_wrapper #recent_work h2 {
  background: url(titles/h2_recent_work.png) no-repeat;
  text-indent: -9999px;
}
#wrapper #col_wrapper #recent_work hr { background: url(mini_divider.png) no-repeat; }
#wrapper #col_wrapper #recent_work ul { list-style: none; }
#wrapper #col_wrapper #recent_work ul li {
  position: relative;
  overflow: visible;
  margin: 0 0 30px 0;
}
#wrapper #col_wrapper #recent_work ul li .imgborder { border: 6px solid #ffffff !important; }
#wrapper #col_wrapper #recent_work ul li .icon_zoom {
  position: absolute;
  top: -2px;
  right: -24px;
  z-index: 5;
}
#wrapper #col_wrapper #recent_work ul li a {
  margin: 0;
  padding: 0;
}
#wrapper #col_wrapper #recent_work ul a:hover { background: none !important; }
#wrapper #portfolio_nav {
  list-style: none;
  float: right;
  margin-top: -27px;
}
#wrapper #portfolio_nav li {
  float: left;
  margin: 0 0 0 15px;
}
#wrapper #portfolio_nav li a {
  background: none;
  margin: 0;
  padding: 0;
}
#wrapper #left_col {
  width: 610px;
  height: 100%;
  float: left;
  margin-top: 50px;
}
#wrapper #right_col {
  width: 250px;
  float: right;
  margin-top: 50px;
}
#wrapper #right_col ul {
  font-size: 14px;
  font-weight: 100;
  font-family: "Lucida sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 20px;
  letter-spacing: 1px;
  margin-top: 15px;
}
#wrapper #contact_me {
  width: inherit;
  clear: both;
  padding: 30px 0 30px 0;
}
#wrapper #contact_me h2 {
  background: url(titles/h2_contact_me.png) no-repeat;
  text-indent: -9999px;
}
#wrapper #contact_me hr { background: url(large_divider.png) no-repeat; }
#wrapper #contact_me #info_left  { float:left; }
#wrapper #contact_me #info_right { float:right; }
#wrapper #contact_me ul.info {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
  width: 300px;
}
#wrapper #contact_me ul.info li {
  height: 40px;
  line-height: 30px;
  width: 300px;
  margin-left: 0;
}
#wrapper #contact_me ul.info .icon {
  position: relative;
  margin: 0 35px 0 0;
  padding: 0;
  top: 3px;
}
#wrapper #contact_me #twitter {
  position: relative;
  float: right;
  height: 151px;
  width: 417px;
  padding: 0;
  margin: 0;
}
#wrapper #contact_me #twitter #twitter_bird {
  position: absolute;
  bottom: 0;
  left: 0;
}
#wrapper #contact_me #twitter #tweet {
  position: absolute;
  background: url(twitter_post_bg.jpg) no-repeat;
  height: 171px;
  width: 367px;
  top: 0;
  right: -12px;
}
#wrapper #contact_me #twitter #tweet li {
  position: absolute;
  top: 15px;
  left: 30px;
  height: 110px;
  width: 310px;
  overflow: hidden;
  line-height: 25px;
  color: #dddddd;
}
#wrapper #contact_me #twitter #tweet p {
  position: absolute;
  top: 15px;
  left: 30px;
  height: 110px;
  width: 310px;
  overflow: hidden;
  line-height: 25px;
  color: #dddddd;
}
#wrapper #contact_me #twitter #tweet small {
  color: #777777;
  font-size: 9px;
  font-weight: italic;
  float: right;
  position: absolute;
  bottom: 0;
  right: 10px;
}
#footer {
  background: #212121 url(charcoal_gradient.jpg) repeat-x top left;
  border-top: 1px solid #114466;
  padding: 20px 0 30px 0;
  color: #dddddd;
  font-family: "Century Gothic", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-shadow: #000000 0px 2px 0px;
  clear: both;
}
#footer div.content {
  width: 900px;
  margin: 0 auto;
}
#footer div.content a { -webkit-transition:none; }
#footer div.content a:link {
  background: none;
  color: #ffffcc;
  padding: 1px 0;
  margin: 0 2px;
  border-bottom: 1px solid #ffffcc;
  text-decoration: none;
}
#footer div.content a:visited {
  background: none;
  color: #ffffcc;
  padding: 1px 0;
  margin: 0 2px;
  border-bottom: 1px solid #ffffcc;
  text-decoration: none;
}
#footer div.content a:hover {
  text-decoration: none;
  background: #ffffcc;
  color: #212121;
  padding: 1px 2px;
  margin: 0;
}
#footer div.content a:active {
  text-decoration: none;
  background: #ffffcc;
  color: #212121;
  padding: 1px 2px;
  margin: 0;
}
