<div id="content">
  <p class="headline">Welcome. I am a web developer / designer, car enthusiast, amateur photographer,
  a geek, and a dad. <a href="portfolio" rel="portfolio" title="View my portfolio pieces">This is my portfolio</a> &rarr;</p>
  
  <div id="slideshow" class="imgborder">
    <%= render :partial => 'layouts/slides' %>
  </div>
  <img src="images/large_shadow.png" alt="" id="slideshow_shadow" />
  
  <div id="col_wrapper">
    <div id="about_me">
      <h2>About Me</h2>
      <hr />
      <p><span class="img_frame frame_small floatright"><img src="images/timnovinger_b&amp;w.jpg" alt="Tim Novinger" width="132" height="150" /></span>
        I'm a web developer located in Fort Wayne, Indiana with experience in creating, managing, and maintaining standards compliant web sites, client and server side programming, social media, and web design.</p>
      
      <p>I'm also a co-founder of the <a href="http://www.screamingmonkeys.org/" title="Check out the Web Guild I helped create">Screaming Monkeys Web Guild</a>, a local web development professional group, whose goal is to foster business networking, learning and creativity.</p>
      
      <h3>Languages I use and specialize in</h3>
      
      <p>Most of my time is spent in XHTML, CSS, Javascript (<a href="http://www.jquery.com" title="jQuery JavaScript framework">jQuery</a>, <a href="http://www.mootools.net" title="A compact, modular, Object-Oriented JavaScript framework">MooTools</a>), and <a href="http://rubyonrails.org/">Ruby on Rails</a>. I hand code everything according to web standards (<a href="http://w3c.org" title="Visit the W3C and read up on web standards NOW">W3C</a>).</p>
      
      <p>I love OpenSource software, probably spend too much time on <a href="http://github.com/timnovinger">Github</a>, and my favorite PHP based CMS to date is easily <a href="http://www.wordpress.org/" title="Wordpress">Wordpress</a>. I've had years of experience with PHP, but I've moved away from it and on to Rails.</p>
      
      <h3>What tools do you use?</h3>
      <p>I work on a <a href="http://www.apple.com" title="Visit Apple, Inc.">Mac</a>, so naturally I use tools such as 
      <a href="http://macromates.com/" title="The missing editor for Mac OS X">TextMate</a>,  
        <a href="https://github.com/" title="GitHub: Social Coding">GitHub</a> and the almighty Terminal, 
        <a href="http://www.sequelpro.com/" title="MySQL database management for Mac OS X 10.5+">Sequel Pro</a>, 
        <a href="http://iconfactory.com/software/xscope" title="Powerful on-screen tools for designers">XScope</a>, and 
        <a href="http://www.adobe.com/products/fireworks/" title="Rapidly prototype and design for the web">Fireworks</a>.
      </p>
      
      <h3>You do stuff other than code right?</h3>
      <p>I'm a dad first and foremost&mdash;much of my time is spent with my daughter. Otherwise I'm a petrol head, and can be found hanging out with local car clubs or autocrossing. I also love <a href="http://www.flickr.com/photos/timnovinger/" title="View my Photostream">photography</a>, my friends, and <a href="http://www.msnbc.msn.com/id/26315908/">The Rachel Maddow Show</a>. If you'd like to know more, follow me on <a href="http://www.twitter.com/timnovinger" title="Follow me on Twitter!">Twitter</a> and find out in real-time.</p>
      
      <h3>Are you available for hire?</h3>
      <p>It depends on the project, but in general not right now. I have a fantastic day job at <a href="http://www.squaremouth.com" title="Compare Travel Insurance Online!">SquareMouth, Inc.</a> which keeps me very busy. I simply don't have the time any more, but thanks for the interest!</p>
      
      <div class="floatright">
        <h3><a href="http://www.linkedin.com/in/timnovinger/">View my work experience</a> &rarr;</h3>
      </div>
    </div>
    
    <div id="recent_work">
      <h2>Recent Work</h2>
      <hr />
      <ul>
        <li class="img_frame frame_small">
          <a href="portfolio/screaming_monkeys_web_guild_version_2" title="The Screaming Monkeys Web Guild">
            <img src="images/portfolio/thumbnails/screaming_monkeys_version_2.jpg" alt="The Screaming Monkeys Web Guild" width="220" height="180" />
          </a>
        </li>
        <li class="img_frame frame_small">
          <a href="portfolio/rockford_ambulance" title="Rockford Ambulance">
            <img src="images/portfolio/thumbnails/rockford_ambulance_home.jpg" alt="Rockford Ambulance" width="220" height="180" />
          </a>
        </li>
        <li class="img_frame frame_small">
          <a href="portfolio/screaming_monkeys_web_guild" title="The Screaming Monkeys Web Guild">
            <img src="images/portfolio/thumbnails/smwg.jpg" alt="The Screaming Monkeys Web Guild" width="220" height="180" />
          </a>
        </li>
        <li class="img_frame frame_small">
          <a href="portfolio/grace_water_study" title="Grace College Water Quality Project">
            <img src="images/portfolio/thumbnails/grace.jpg" alt="Grace College Water Quality Project" width="220" height="180" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>