<h3>Andorfer Commons @ Indiana Tech</h3>
<%= nav_links('nichols_client_gallery', 'westlake_design_comp_one') %>

<div id="left_col">
  <p class="img_frame"><img src="/images/portfolio/fullsize/ac_1.jpg" alt="Andorfer Commons @ Indiana Tech" /></p>
  <p class="img_frame"><img src="/images/portfolio/fullsize/ac_2.jpg" alt="Andorfer Commons @ Indiana Tech" /></p>
</div>

<div id="right_col">
  <p>Andorfer Commons is <a href="http://www.indianatech.edu" title="Visit Indiana Tech's website">Indiana Tech's</a> state-of-the-art 60,000 sq. ft. conference room and student life facility. It houses a movie theater, cafeteria, bowling alley and games center, and conference rooms. All of these amenities can be rented out to any interested party.</p>
  
  <p>Indiana Tech needed a website for their new facility that would accurately represent not only the style of the building itself, but all of the services it's able to provide to the local business community.</p>
  
  <p>Key features include an introductory slideshow on the homepage and tabbed navigation on the <a href="http://www.andorfercommons.com/dining_services.asp" title="Check out the tabbed navigation">dining services</a> page. All are accomplished via gracefully degrading JavaScript.</p>
  
  <p><a href="http://www.andorfercommons.com" title="Visit Andorfer Commons">visit the site</a> &rarr;</p>
  
  <hr class="visible small" />
  
  <h4>Services Provided</h4>
  <ul>
    <li>Web Design</li>
    <li>XHTML + CSS</li>
    <li>UI Enhancement via <a href="http://www.mootools.net" title="Read more about the excellent MooTools JavaScript framework">MooTools</a></li>
  </ul>
</div>