<h3>Any Web Dev</h3>
<%= nav_links('jh-specialty', 'rockford-ambulance') %>

<div id="left_col">
	<p class="img_frame"><img src="/images/portfolio/fullsize/AWD.jpg" alt="Any Web Dev" /></p>
	<p>&raquo; <a href="http://www.anywebdev.com">visit current site</a><small class="floatright">(my design was to replace this)</small></a></p>
</div>

<div id="right_col">
	<p>During my period at <a href="http://www.jhspecialty.com">JH Specialty, Inc.</a> I took upon myself an attempt to re-design the website of their web development division, <a href="http://www.anywebdev.com">AnyWebDev</a>.</p>
	
	<p>While I did gain approval, this project never eventually went anywhere. Needless to say, the design continues to be an oldie but goodie.</p>
	
	<p><strong>Please note:</strong><br />
	<small>This work was done for <a href="http://www.jhspecialty.com">JH Specialty, Inc.</a>, a previous employer of mine.</small></p>
	
	<hr class="visible small" />
	
	<h4>Services Provided</h4>
	<ul>
		<li>Web Design</li>
	</ul>
</div>