<h3>JH Specialty, Inc.</h3>
<%= nav_links('westlake-design-comp-two', 'any-web-dev') %>

<div id="left_col">
	<p class="img_frame"><img src="/images/portfolio/fullsize/JHS.jpg" alt="JH Specialty, Inc." width="600" height="448" /></p>
</div>

<div id="right_col">
	<p>During my period at <a href="http://www.jhspecialty.com">JH Specialty, Inc.</a> I took upon myself an attempt to re-design their corporate website.</p>
	
	<p>While I did gain approval, this project never eventually went anywhere. Needless to say, the design continues to be an oldie but goodie.</p>
	
	<p><strong>Please note:</strong><br />
	<small>This work was done for <a href="http://www.jhspecialty.com">JH Specialty, Inc.</a>, a previous employer of mine.</small></p>
	
	<hr class="visible small" />
	
	<h4>Services Provided</h4>
	<ul>
		<li>Web Design</li>
	</ul>
</div>