<h3>The Nichols Company: Administration System</h3>
<%= nav_links('grace_water_study', 'nichols_client_gallery') %>

<div id="left_col">
  <p class="img_frame"><img src="/assets/portfolio/fullsize/admin_login.jpg" alt="Login Page" /></p>
  <p class="img_frame"><img src="/assets/portfolio/fullsize/admin_inner.jpg" alt="Inside Page" /></p>
  <p class="img_frame"><img src="/assets/portfolio/fullsize/admin_help.jpg" alt="Help Page" /></p>
</div>

<div id="right_col">
  <p>At the Nichols Company, clients were always asking for the ability to manage their site content themselves, and we were continually looking to add on to the services that we could provide. Thusly, the Nichols Admin content management project was born.</p>
  
  <p>The admin is designed and built to benefit from the principles of object orientation. It is easily integrated into client websites, and allows for rapid, custom module development with room for future code base extension.</p>
  
  <p>Many UI enhancements abound throughout. An obvious design influence from <a href="http://www.37signals.com/">37 Signal's<sup>&reg;</sup></a> <a href="http://www.basecamphq.com/?source=37signals+home">Basecamp<sup>&reg;</sup></a> can be seen as well.</p>
  
  <p><strong>Please note:</strong><br />
  <small>This work was done for <a href="http://www.nichols-co.com">The Nichols Company</a>, a previous employer of mine.</small></p>
  
  <hr class="visible small" />
  <h4>Services Provided</h4>
  <ul>
    <li>Web Design</li>
    <li>XHTML + CSS</li>
    <li>UI Enhancements with MooTools</li>
    <li>Custom Content Management</li>
    <li>PHP OOP Framework</li>
    <li>MySQL Database</li>
  </ul>
</div>
