<div id="content">
	
	<p class="headline"><%= render :partial => 'layouts/quotes' %></p>
				
	<hr class="visible large" />
	
	<ul class="grid">
		<li class="img_frame frame_small">
			<a href="portfolio/screaming_monkeys_web_guild_version_2" title="The Screaming Monkeys Web Guild">
				<img src="images/portfolio/thumbnails/screaming_monkeys_version_2.jpg" alt="The Screaming Monkeys Web Guild" width="220" height="180" />
			</a>
		</li>
		<li class="img_frame frame_small">
			<a href="portfolio/rockford_ambulance" title="Rockford Ambulance">
				<img src="images/portfolio/thumbnails/rockford_ambulance_home.jpg" alt="Rockford Ambulance" width="220" height="180" />
			</a>
		</li>
		<li class="img_frame frame_small">
			<a href="portfolio/maestronance" title="Maestro Robert Nance">
				<img src="images/portfolio/thumbnails/maestronance_inner.jpg" alt="Maestro Robert Nance" width="220" height="180" />
			</a>
		</li>
		
		
		
		<li class="img_frame frame_small">
			<a href="portfolio/screaming_monkeys_web_guild" title="The Screaming Monkeys Web Guild">
				<img src="images/portfolio/thumbnails/smwg.jpg" alt="The Screaming Monkeys Web Guild" width="220" height="180" />
			</a>
		</li>
		<li class="img_frame frame_small">
			<a href="portfolio/grace_water_study" title="Grace College Water Quality Project">
				<img src="images/portfolio/thumbnails/grace.jpg" alt="Grace College Water Quality Project" width="220" height="180" />
			</a>
		</li>
		<li class="img_frame frame_small">
			<a href="portfolio/nichols_admin" title="Nichols Administration System">
				<img src="images/portfolio/thumbnails/admin.jpg" alt="Nichols Administration System" width="220" height="180" />
			</a>
		</li>
		
		
		
		
		<li class="img_frame frame_small">
			<a href="portfolio/nichols_client_gallery" title="Nichols Client Gallery Application">
				<img src="images/portfolio/thumbnails/gallery.jpg" alt="Nichols Client Gallery Application" width="220" height="180" />
			</a>
		</li>
		<li class="img_frame frame_small">
			<a href="portfolio/andorfer_commons" title="Andorfer Commons &mdash; Indiana Tech">
				<img src="images/portfolio/thumbnails/ac.jpg" alt="Andorfer Commons &mdash; Indiana Tech" width="220" height="180" />
			</a>
		</li>
		<li class="img_frame frame_small">
			<a href="portfolio/westlake_design_comp_one" title="Westlake Design Site Comp One">
				<img src="images/portfolio/thumbnails/wd_1.jpg" alt="Westlake Design Site Comp One" width="220" height="180" />
			</a>
		</li>
		
		
		
		<li class="img_frame frame_small">
			<a href="portfolio/westlake_design_comp_two" title="Westlake Design Site Comp Two">
				<img src="images/portfolio/thumbnails/wd_2.jpg" alt="Westlake Design Site Comp Two" width="220" height="180" />
			</a>
		</li>
		<li class="img_frame frame_small">
			<a href="portfolio/jh_specialty" title="JH Specialty, Inc. Site Comp">
				<img src="images/portfolio/thumbnails/jhs.jpg" alt="JH Specialty, Inc. Site Comp" width="220" height="180" />
			</a>
		</li>
		<li class="img_frame frame_small">
			<a href="portfolio/any_web_dev" title="AnyWebDev Site Comp &mdash; JH Specialty, Inc.">
				<img src="images/portfolio/thumbnails/AWD.jpg" alt="AnyWebDev Site Comp &mdash; JH Specialty, Inc." width="220" height="180" />
			</a>
		</li>
	</ul>
	
	<hr class="visible large fatty" />
	
	<h3>The way I see it&mdash;</h3>
	<p>I'm somewhat of a rarity in this industry. At my core I'm a web developer&mdash;but unlike my peers I somehow developed a sense of design along the way which I use to compliment the code I write. In fact, I designed this very site along with most of those listed above.</p>
	
	<p>Don't get me wrong&mdash;I never claim to be purely a designer, and it's by no means my strongpoint. But give me enough time, coffee and inspiration and I'll mock up a pretty nice site.</p>
	
	<p>I've found that by having a sense of design, art and creativity&mdash;in addition to my programming ability&mdash;at the end of the day, I'm a more well rounded and <strong>better</strong> developer overall.</p>
	
	<p>It is this that I find to be the most beneficial quality of preferring nice looking things.</p>

</div>