<div id="content">  
  <p class="headline"><%= render :partial => 'layouts/quotes' %></p>
  
  <hr class="visible large" />
  
  <ul class="grid">
    <li class="img_frame frame_small">
      <a href="portfolio/screaming_monkeys_web_guild_version_2" title="The Screaming Monkeys Web Guild">
        <img src="assets/portfolio/thumbnails/screaming_monkeys_version_2.jpg" alt="The Screaming Monkeys Web Guild" width="220" height="180" />
      </a>
    </li>
    <li class="img_frame frame_small">
      <a href="portfolio/rockford_ambulance" title="Rockford Ambulance">
        <img src="assets/portfolio/thumbnails/rockford_ambulance_home.jpg" alt="Rockford Ambulance" width="220" height="180" />
      </a>
    </li>
    <li class="img_frame frame_small">
      <a href="portfolio/maestronance" title="Maestro Robert Nance">
        <img src="assets/portfolio/thumbnails/maestronance_inner.jpg" alt="Maestro Robert Nance" width="220" height="180" />
      </a>
    </li>
    
    <li class="img_frame frame_small">
      <a href="portfolio/screaming_monkeys_web_guild" title="The Screaming Monkeys Web Guild">
        <img src="assets/portfolio/thumbnails/smwg.jpg" alt="The Screaming Monkeys Web Guild" width="220" height="180" />
      </a>
    </li>
    <li class="img_frame frame_small">
      <a href="portfolio/grace_water_study" title="Grace College Water Quality Project">
        <img src="assets/portfolio/thumbnails/grace.jpg" alt="Grace College Water Quality Project" width="220" height="180" />
      </a>
    </li>
    <li class="img_frame frame_small">
      <a href="portfolio/nichols_admin" title="Nichols Administration System">
        <img src="assets/portfolio/thumbnails/admin.jpg" alt="Nichols Administration System" width="220" height="180" />
      </a>
    </li>
    
    <li class="img_frame frame_small">
      <a href="portfolio/nichols_client_gallery" title="Nichols Client Gallery Application">
        <img src="assets/portfolio/thumbnails/gallery.jpg" alt="Nichols Client Gallery Application" width="220" height="180" />
      </a>
    </li>
    <li class="img_frame frame_small">
      <a href="portfolio/andorfer_commons" title="Andorfer Commons &mdash; Indiana Tech">
        <img src="assets/portfolio/thumbnails/ac.jpg" alt="Andorfer Commons &mdash; Indiana Tech" width="220" height="180" />
      </a>
    </li>
    <li class="img_frame frame_small">
      <a href="portfolio/westlake_design_comp_one" title="Westlake Design Site Comp One">
        <img src="assets/portfolio/thumbnails/wd_1.jpg" alt="Westlake Design Site Comp One" width="220" height="180" />
      </a>
    </li>
    
    <li class="img_frame frame_small">
      <a href="portfolio/westlake_design_comp_two" title="Westlake Design Site Comp Two">
        <img src="assets/portfolio/thumbnails/wd_2.jpg" alt="Westlake Design Site Comp Two" width="220" height="180" />
      </a>
    </li>
    <li class="img_frame frame_small">
      <a href="portfolio/jh_specialty" title="JH Specialty, Inc. Site Comp">
        <img src="assets/portfolio/thumbnails/jhs.jpg" alt="JH Specialty, Inc. Site Comp" width="220" height="180" />
      </a>
    </li>
    <li class="img_frame frame_small">
      <a href="portfolio/any_web_dev" title="AnyWebDev Site Comp &mdash; JH Specialty, Inc.">
        <img src="assets/portfolio/thumbnails/AWD.jpg" alt="AnyWebDev Site Comp &mdash; JH Specialty, Inc." width="220" height="180" />
      </a>
    </li>
  </ul>
</div>
