<h3>The Screaming Monkeys Web Guild <sup>version 2!</sup></h3>
<%= nav_links('any_web_dev', 'rockford_ambulance') %>

<div id="left_col">
  <p class="img_frame"><img src="/assets/portfolio/fullsize/screaming_monkeys_version_2.jpg" alt="Screaming Monkeys Web Guild" width="600" height="864" /></p>
  <p>
    <a href="http://www.screamingmonkeys.org" title="The SMWG Site">visit the site</a>
    <span class="floatright">follow <a href="http://www.twitter.com/screaminmonkeys" title="Screaming Monkeys Web Guild Twitter">@screaminmonkeys</a></span>
  </p>
</div>

<div id="right_col">
  <p><a href="http://www.screamingmonkeys.org" title="The Screaming Monkeys Web Guild of Fort Wayne, Indiana">The SMWG</a> is a local group that I co-founded with <a href="http://www.twitter.com/jpmitchell" title="Follow James Mitchell on Twitter">@jpmitchell</a>. We hold events that promote networking, learning, sharing, etc. in fun and creative atmosphere for local professionals and students alike.</p>

  <p>Put simply, our old site's design and content were getting very long in the tooth and no longer met out needs. It was a chore to post new events and content, and so we got into the habit of not doing either. For any group this is bad, but for one of our type it's even more so.</p>
  
  <p>The new version of the site features an all new layout and design that, not only is more up with current design styles, but also includes hints and goodies about the nature of the group (such as the Array() of links in the footer).</p>
  
  <p>We also decided to host all event photos using <a href="http://www.flickr.com">Flickr</a>. Since we were uploading them there in the first place, all we then needed to do is simply use their links instead of our own.</p>
  
  <p>The very best feature however, is the integration with the <a href="http://www.meetup.com">Meetup.com</a> API. We literally pull in new events as we post them and never have to update our site. The more we aggregate our own content, the less work we need to do in the end as site maintainers but in fact the more the site stays updated.</p>
  
  <p>It's very full of win.</p>
  
  <hr class="visible small" />
  <h4>Services Provided</h4>
  <ul>
    <li>Full Design</li>
    <li>HTML5 + CSS</li>
    <li>jQuery Slideshow Integration</li>
    <li>Meetup.com API Integration</li>
    <li>Basic Flickr Integration</li>
    <li>Content Managed via Typus</li>
  </ul>
</div>
