<h3>The Screaming Monkeys Web Guild</h3>
<?php echo navLinks('rockford_ambulance', 'grace_water_study'); ?>

<div id="left_col">
	<p class="img_frame"><img src="/images/portfolio/fullsize/screaming_monkeys.jpg" alt="Screaming Monkeys Web Guild" width="600" height="448" /></p>
	<p>
		<a href="http://www.screamingmonkeys.org" title="The SMWG Site">visit the site</a>
		<span class="floatright">follow <a href="http://www.twitter.com/screaminmonkeys" title="Screaming Monkeys Web Guild Twitter">@screaminmonkeys</a></span>
	</p>
</div>

<div id="right_col">
	<p><a href="http://www.screamingmonkeys.org" title="The Screaming Monkeys Web Guild of Fort Wayne, Indiana">The SMWG</a> is a local group that I co-founded with <a href="http://www.twitter.com/jpmitchell" title="Follow James Mitchell on Twitter">@jpmitchell</a>. We hold events that promote networking, learning, sharing, etc. in fun and creative atmosphere for local professionals and students alike.</p>

	<p>We of course needed a site to promote ourselves&mdash;one that plays off of the name and is fun, but does so in a professional manner.</p>
	
	<p>Key features are <a href="http://www.panic.com/coda">Coda</a>-site like sliding tabs via <a href="http://www.jquery.com">jQuery</a> and <a href="http://www.mailchimp.com" title="Mail Chimp">Mail Chimp</a> list sign-up integration. Site content is managed by the <a href="portfolio/nichols_admin" title="Nichols Company Admin System">admin</a> from the <a href="http://www.nichols-co.com">Nichols Company</a>.</p>
	
	<hr class="visible small" />
	<h4>Services Provided</h4>
	<ul>
		<li>Partial Design</li>
		<li>XHTML + CSS</li>
		<li>jQuery Plugin Installation</li>
		<li>PHP Based Contact Forms</li>
		<li>Content Management System</li>
		<li>HTML E-Mail Templates</li>
	</ul>
</div>