<h3>Westlake Design &mdash; Site Comp Version Two</h3>
<%= navLinks('westlake-design-comp-one', 'jh-specialty') %>

<div id="left_col">
	<p class="img_frame"><img src="/images/portfolio/fullsize/wd_2.jpg" alt="Homepage" /></p>
</div>

<div id="right_col">
	<p>During my period at <a href="http://www.westlakedesign.com">Westlake Design</a>, the company was going through a re-branding process and I took upon myself an attempt to re-design their website.</p>
	
	<p>This is mockup 2 of 2 that I designed. It continues to be an oldie but goodie.</p>
	
	<p><strong>Please note:</strong><br />
	<small>This work was done for <a href="http://www.westlakedesign.com">Westlake Design</a>, a previous employer of mine.</small></p>
	
	<hr class="visible small" />
	<h4>Services Provided</h4>
	<ul>
		<li>Web Design</li>
	</ul>
</div>