<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<title><%= page_title %> :: Tim Novinger :: Web Developer :: Fort Wayne, Indiana ::</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="verify-v1" content="zli2EVCVhfgjqu/IP2f39Pw5ofLztr1slvc+ZBcy1RA=" />
	<meta name="distribution" content="global" />
	<meta name="revisit-after" content="20 days" />
	<meta name="robots" content="all,follow,index" />
	<meta name="author" content="Tim Novinger" />
	<meta name="abstract" content="Tim Novinger" />
	<meta name="title" content=":: Tim Novinger&mdash;Web Developer &amp; Designer&mdash;Fort Wayne, Indiana ::" />
	<meta name="owner" content="Tim Novinger" />
	<meta name="copyright" content="&#169; <%=Time.now.year%> Tim Novinger - http://www.timnovinger.com" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	
	
	<%= stylesheet_link_tag 'style', 'jd.gallery.css' %>
	
	<!--[if IE 6]><link rel="stylesheet" type="text/css" href="css/ie6.css" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie7.css" /><![endif]-->  
	<!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" /><![endif]-->
	
	<!-- !Google Analytics -->
<!--
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-685060-3']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
	  })();
	</script>
-->
	</head>
	
	<body>
		<div id="ie6_warning"><p>This browser is unsupported. Please upgrade to Firefox, Safari, Chrome, or Opera.</p></div>
		<div id="wrapper">
	
			<!-- !HEADER -->
			<div id="header">
				<h1>: Tim Novinger</h1>
				<ul id="navigation">
					<li><a href="./" rel="homepage" title="Go back to the beginning">home</a></li>
					<li><a href="portfolio" rel="portfolio" title="View my portfolio pieces">my portfolio</a></li>
					<li><a href="http://www.github.com/timnovinger" rel="portfolio" title="View my projects on Github">github</a></li>
					<li><a href="./#about_me" rel="about" title="Read more about me">about me</a></li>
					<li><a href="#contact_me" title="Want to get in touch?">contact me</a></li>
				</ul>
			</div>
			